<html>

<head>
  <title>Image Converter</title>
  <link rel="stylesheet" href="converter_page.css">
  <link rel="shortcut icon" href="icon.png" type="image/x-icon">
  <script src="common.js" defer></script>
</head>

<body>
  <div id="toggle" onclick="toggle()">
    <div id="inside"></div>
  </div>
  <h1>Image Converter</h1>
  <a href="/">Back</a>
  <div class="container" id="container">
    <div class="box">
      <form id="form" enctype="multipart/form-data" method="post" action="/image" onsubmit="notify()">
        <label>Select Image:</label>
        <input type="file" id="upload-input" accept="image/*" name="file" class="form-control" required />
        <br>
        <label for="format">Select Format:</label>
        <select class="form-control" name="format" id="format" name="format">
          <option value="jpg">JPG</option>
          <option value="png">PNG</option>
          <option value="bmp">BMP</option>
          <option value="tiff">Tiff</option>
          <option value="gif">Gif</option>
        </select>

        <div id="advanced">

          <label>Jpg quality</label>
          <input type="text" name="quality" placeholder="Jpg quality">
<br>
          <label>Resolution</label>
          <input type="text" name="width" placeholder="Width (px)">
          <input type="text" name="height" placeholder="Height (px)">

        </div>
        <br><br>
      <div id="advancedToggle" onclick="toggleAdvanced()">Advanced</div>
        <button type="submit">Convert Image</button>
      </form>
    </div>
  </div>

</html>