html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	text-align: center;
	background-color: whitesmoke;
	min-height: 100%;
}
body {
	margin: 0;
	padding: 10px;
	min-height: 100vh;
	transition:.4s;
}
h1 {
	padding: 20px 0 30px 0;
}

.card {
	background-color: rgb(175, 238, 144);
	color: rgb(46, 46, 46);
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px gray;
	width: 44vw;
}
.card:hover {
	background-color: rgb(125, 220, 125);
}

a {
	text-decoration: none;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
@media screen and (max-width: 650px) {
	.card {
		width: 80vw;
	}
}
#toggle {
	width: 50px;
	height: 30px;
	background-color: rgb(147, 174, 185);
	border-radius: 15px;
	display: flex;
	cursor: pointer;
	transition: linear;
	transition-duration: 0.4s;
}
#inside {
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	width: 20px;
	height: 20px;
	margin: 5px;
	position: relative;
	transition: linear;
	transition-duration: 0.4s;
	left:0;
}
body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	border-radius: 10px;
}
